[Unit]
Description=Remove unwanted default flatpaks
After=multi-user.target
ConditionPathExists=!/var/lib/remove-unwanted-flatpaks.stamp

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'flatpak remove --system --noninteractive org.kde.kcalc org.kde.Haruna org.kde.kontact org.deskflow.deskflow 2>/dev/null; true'
ExecStartPost=/bin/touch /var/lib/remove-unwanted-flatpaks.stamp

[Install]
WantedBy=multi-user.target
