[Desktop Entry]
Name=Snapmaker OrcaSlicer
Comment=3D Printing Slicer (Snapmaker Edition)
Exec=/usr/local/bin/OrcaSlicer
Icon=Snapmaker_Orca
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
StartupNotify=true
