[Desktop Entry]
Name=Snapmaker OrcaSlicer
Comment=3D Printing Slicer (Snapmaker Edition)
Exec=/usr/local/lib/snapmaker-orca/OrcaSlicer.AppImage
Icon=OrcaSlicer
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
StartupNotify=true
